.middle {
    align-content: center;
    margin-top: 15%;
    margin-left: 15%;
}

.topShift {
    margin-top: 1%;
}

.alignCenter {
    align-content: center;
}

.alignButtonCenter {
    margin: auto;
    width: 15%;
}

.topShiftMd {
    margin-top: 10%;
}

.leftShift {
    margin-left: 1%;
}

.leftShiftItemMin {
    margin-left: 5%;
}

.leftShiftItemMax {
    margin-left: 2%;
}